* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #141414;
  color: white;
}

/* NAVBAR */
.navbar {
  background: #000;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  color: #e50914;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}

/* CATEGORIAS */
.category {
  padding: 20px 30px;
}

.category h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

/* CARROSSEL ESTILO NETFLIX */
.movies-row {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.movies-row::-webkit-scrollbar {
  height: 6px;
}

.movies-row::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

/* CARDS MENORES */
.movie {
  min-width: 120px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movie img {
  width: 100%;
  border-radius: 6px;
}

.movie:hover {
  transform: scale(1.15);
  z-index: 10;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .movie {
    min-width: 95px;
  }
}
