/* Barra de pesquisa */
#searchInput {
  padding: 8px 15px;
  border-radius: 4px;
  border: none;
  width: 220px;
  background: #333;
  color: white;
}

#searchInput::placeholder {
  color: #aaa;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
